
body {
	background: black;
	/* background-image:url("../bluesky.jpg"); */
	/* height: 100%; */
	/* background-position: center;
	background-repeat: no-repeat;
	background-size: cover; */
	margin: auto;
	font-size: 100%;
  font-family: arial, sans-serif;
	color: white;

}

h1{
  font-family: century, serif;
	font-weight: bold;
  text-align: right;
  padding-right: 2%;

}

h2{
  text-align: center;
}

.horizontal {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: space-around;
}

@media screen and (min-width:600px){

}

@media screen and (max-width: 600px){
	#sunset {
		display: block;
		margin-right: auto;
		margin-left: auto;
		width: 45%;
		align-content: center;

	}

}

img, embed, object, video {
	max-width:100%;
}
.leftnav {
  align-content: left;
	font-style: normal;
	min-width: 48px;
	min-height: 48px;
}

.subheader {
  text-align: right;
  padding-right: 2%;
}

#selfpainting{
	width:34%;
	height: 28%;
	padding-left: 2%;
	padding-right: 2%;
}

#weddingwebsite{
	width:33%;
	height: 30%;
	padding-right: 2%;
}

#sunset {
	display: block;
	margin-right: 60%;
	margin-left: 25%;
	width: 45%;
	align-content: center;

}

#caliseascape{
	width:32%;
	height: 28%;
	padding-right: 2%;
}
.navbutton {
	min-width: 48px;
	min-height: 48px;
	width: 100%;
}

ul{
	list-style-type: none;
	margin-left: 1%;
}

a {
	color: black;

}

a:hover {
	text-decoration: underline;
	cursor: pointer;
	background-color:gray;
}

a:visited {
	color: brown;
}

li a{
	display:block;
}

.pages{
	background: black;
	font-family: century, sans-serif;
	color: white;

}

.bottom {

}

/* .pages{
	display: none;
} */
